{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Gallery</title>
    <link rel="stylesheet" href="{% static 'day2/style.css' %}">
</head>
<body>

<h1>My Image Gallery</h1>

<div class="gallery">
    <div>
        <img src="https://picsum.photos/200/150?1">
        <p>Beautiful Nature</p>
    </div>

    <div>
        <img src="https://picsum.photos/200/150?2">
        <p>City View</p>
    </div>

    <div>
        <img src="https://picsum.photos/200/150?3">
        <p>Mountain Scene</p>
    </div>
</div>

<br>

<a href="/contact/">Go to Contact</a>

</body>
</html>